
    #container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
        width: 95%;
        margin: auto;
      }
  
      
      /* CSS */
     
  
  #container > div{
   
    border-radius: 10px;

    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    
    padding: 5px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    
  }

  #container img{
width: 80%;
display: block;
margin: auto;
  }



  /* button css */

  button {
    display: inline-block;
    border-radius: 4px;
   
    border: none;
    color: #0b4e4b;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   border-radius: 20px;
    cursor: pointer;
    margin: 5px;
  }
  
  img{
    width: 100%;
  }

  #banks{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
  }


  /* .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
   */